html, body {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


#fondo{
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: 0;
}

#fondo img{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
}

ul{
	padding: 0;
	margin: 0 0 0 150px;
	list-style: none;
}

nav a:hover{
	background: red;
	transition: 0.5s;
	text-transform: uppercase;
}

#contOtros{
    padding: 0;
}

.todos{
	border:4px rgb(184, 172, 172) dashed;
	padding: 70px;
	background-color: rgb(255, 255, 255);

}

.mapa{
	border:5px black solid;
	margin-right: -57px;

}

.direc{
	border:2px rgb(68, 61, 61) dashed;
	padding: 10px;
	margin-right: -57px;

}

p.t{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 25px;
}