<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Proyecto Turbus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <strong>MyLogo</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/index}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/viajes}">Viajes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">

        <div class="card bg-light">
            <div class="card-header bg-dark text-white">
                <h1 th:text="${titulo}"></h1>
            </div>
            <div class="card-body">
                <form th:action="@{/guardar}" th:object="${nuevoViaje}" method="post">
                    <div class="form-group row">
                        <input type="hidden" th:field="*{id}">
                        <label class="col-md-2" for="origen">Origen:</label>
                        <select th:field="*{origen}" class="form-control form-control-sm col-md-6" id="origen">
                            <option th:each="ciudad:${ciudades}" th:value="${ciudad.nombre}"
                                th:text="${ciudad.nombre}" />

                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2" for="destino">Destino:</label>
                        <select th:field="*{destino}" class="form-control form-control-sm col-md-6" id="destino">
                            <option th:each="ciudad:${ciudades}" th:value="${ciudad.nombre}"
                                th:text="${ciudad.nombre}" />
                        </select>
                        <small></small>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2" for="fecha">Fecha:</label>
                        <select th:field="*{fecha}" class="form-control form-control-sm col-md-6" id="fecha">
                            <option th:each="viaje:${listaViajes}" th:value="${viaje.fecha}" th:text="${viaje.fecha}" />
                        </select>
                        <small></small>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2" for="horaSalida">Hora de Salida:</label>
                        <select th:field="*{horaSalida}" class="form-control form-control-sm col-md-6" id="horaSalida">
                            <option th:each="viaje:${listaViajes}" th:value="${viaje.horaSalida}"
                                th:text="${viaje.horaSalida}" />
                        </select>
                        <small></small>
                    </div>
                    <div class="card-footer bg-dark">
                        <input type="submit" class="btn btn-primary btn-sm" value="Guardar">
                    </div>

                </form>

            </div>
        </div>

    </div>






    <footer class="bg-dark text-center text-white fixed-bottom">
        <div class="container">
            <p>© Company 2017-2019</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>