<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Proyecto Turbus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/viajes.css">
</head>

<body>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <a class="navbar-brand" th:href="@{/home}">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">                    
                        <li class="nav-item">
                            <a class="nav-link" href="/terminales">Terminales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/nosotros">¿Quiénes somos?</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>



    <div class="card-header bg-dark text-white">
        <h1 th:text="${titulo}"></h1>
    </div>
    <div class="card-body">
        <form th:object="${buses}">
            <div class="form-group row">
                <label class="col-md-2" for="idViaje">Id viaje:</label>
                <input type="text" th:field="*{idViaje}" class="form-control form-control-sm col-md-6" id="idViaje">
            </div>
            <div class="card-footer bg-dark">
                <input type="submit" class="btn btn-primary btn-sm" value="Guardar">
            </div>

        </form>

    </div>
    <table class="table table-selective table-hover">
    <tbody>
        <tr>
            <th>1<img src="/img/Asiento-Vacio.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" id="A1" estado="v" onclick="CambiarEstado(this.id)"></th>
            <th>2<img src="/img/Asiento-Vacio.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" id="A2" estado="v" onclick="CambiarEstado(this.id)"></th>
            <th></th>
            <th>3<img src="/img/Asiento-Vacio.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" id="A3" estado="v" onclick="CambiarEstado(this.id)"></th>
            <th>4<img src="/img/Asiento-Vacio.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" id="A4" estado="v" onclick="CambiarEstado(this.id)"></th>
        </tr>
    </tbody>
</table>






    <footer class="bg-dark text-center text-white fixed-bottom">
        <div class="container">
            <p>© Company 2017-2019</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>