<!DOCTYPE html>
<html>

<head>
    <title>Proyecto Turbus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<link rel="stylesheet" type="text/css" href="/css/nosotros.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css" />

<body>
    <div class="fondo"></div>
    <header>
        <div class="container-fluid" id="contOtros">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <a class="navbar-brand" th:href="@{/home}">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">                    
                        <li class="nav-item">
                            <a class="nav-link" href="/terminales">Terminales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/nosotros">¿Quiénes somos?</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <br><br>

    
    <div class="container pt-2 pb-5">
        <div class="card todo">
            <div class="row">
                <div class="col">
                    <h2>¿Quiénes somos?</h2>
                    <p>Somos una empresa de transporte terrestre que pretende satisfacer las necesidades de movilización de
                        los chilenos. Operamos rutas de gran parte de las regiones de nuestro país, considerando ciudades
                        como Iquique, La Serena, Valparaíso, Santiago, Concepción, Temuco y Valdivia. Facilitamos la
                        elección de su destino de manera online, rápida y eficaz, además, aseguramos la comodidad y
                        puntualidad de nuestro servicio.</p>
                    <br><br><br><br>
                    <h4>Gerenete general</h4>
                    <p>Sebastian Opazo</p>
                    <br>
                    <h4>Técnico informático</h4>
                    <p>Didier Sepúlveda</p>
                    <br>
                    <h4>Contador</h4>
                    <p>Marcelo Bustos</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
    
        <div class="container-footer-all">
    
            <div class="container-body">
    
                <div class="colum1">
                    <h1>Turbus</h1>
    
                    <p>Turbus es la principal empresa de transporte terrestre de pasajeros del país.
                        Lleva 70 años transportando a los chilenos de Arica a Pto. Montt.
                    </p>
    
                </div>
    
                <div class="colum2">
    
                    <h1>Redes Sociales</h1>
    
                    <div class="row">
                        <img src="/img/facebook.png">
                        <label>Siguenos en Facebook</label>
                    </div>
                    <div class="row">
                        <img src="/img/twitter.png">
                        <label>Siguenos en Twitter</label>
                    </div>
                    <div class="row">
                        <img src="/img/instagram.png">
                        <label>Siguenos en Instagram</label>
                    </div>
                    <div class="row">
                        <img src="/img/google-plus.png">
                        <label>Siguenos en Google Plus</label>
                    </div>
                    <div class="row">
                        <img src="/img/pinterest.png">
                        <label>Siguenos en Pinteres</label>
                    </div>
    
    
                </div>
    
                <div class="colum3">
    
                    <h1>Informacion Contactos</h1>
    
                    <div class="row2">
                        <img src="/img/house.png">
                        <label>La Romana,
                            Temuco de Chile
                            Manuel del Cabral
                            Casa # 27</label>
                    </div>
    
                    <div class="row2">
                        <img src="/img/smartphone.png">
                        <label>+56-930211325</label>
                    </div>
    
                    <div class="row2">
                        <img src="/img/contact.png">
                        <label>Turbus@gmail.com</label>
                    </div>
    
    
                </div>
    
            </div>
    
        </div>
    
        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2017 Todos los Derechos Reservados | <a href="">Magtimus</a>
                </div>
    
                <div class="information">
                    <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y
                        Condiciones</a>
                </div>
            </div>
    
        </div>
    
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>